apiVersion: config.gatekeeper.sh/v1alpha1
kind: Config
metadata:
  name: config
  namespace: "gatekeeper-system"
spec:
  match:
    - excludedNamespaces: [        
        "default",
        "gatekeeper-system",
        "kube-node-lease",
        "kube-public",
        "kube-system",
        "openshift",
        "openshift-apiserver",
        "openshift-apiserver-operator",
        "openshift-authentication",
        "openshift-authentication-operator",
        "openshift-cloud-credential-operator",
        "openshift-cluster-csi-drivers",
        "openshift-cluster-machine-approver",
        "openshift-cluster-node-tuning-operator",
        "openshift-cluster-samples-operator",
        "openshift-cluster-storage-operator",
        "openshift-cluster-version",
        "openshift-config",
        "openshift-config-managed",
        "openshift-config-operator",
        "openshift-console",
        "openshift-console-operator",
        "openshift-console-user-settings",
        "openshift-controller-manager",
        "openshift-controller-manager-operator",
        "openshift-dns",
        "openshift-dns-operator",
        "openshift-etcd",
        "openshift-etcd-operator",
        "openshift-image-registry",
        "openshift-infra",
        "openshift-ingress",
        "openshift-ingress-canary",
        "openshift-ingress-operator",
        "openshift-insights",
        "openshift-kni-infra",
        "openshift-kube-apiserver",
        "openshift-kube-apiserver-operator",
        "openshift-kube-controller-manager",
        "openshift-kube-controller-manager-operator",
        "openshift-kube-scheduler",
        "openshift-kube-scheduler-operator",
        "openshift-kube-storage-version-migrator-operator",
        "openshift-kubevirt-infra",
        "openshift-machine-api",
        "openshift-machine-config-operator",
        "openshift-marketplace",
        "openshift-monitoring",
        "openshift-multus",
        "openshift-network-diagnostics",
        "openshift-network-operator",
        "openshift-node",
        "openshift-oauth-apiserver",
        "openshift-openstack-infra",
        "openshift-operator-lifecycle-manager",
        "openshift-operators",
        "openshift-ovirt-infra",
        "openshift-sdn",
        "openshift-service-ca",
        "openshift-service-ca-operator",
        "openshift-user-workload-monitoring",
        "openshift-vsphere-infra"
      ]
      processes: ["*"]
    # - excludedNamespaces: ["audit-excluded-ns"]
    #   processes: ["audit"]
    # - excludedNamespaces: ["audit-webhook-sync-excluded-ns"]
    #   processes: ["audit", "webhook", "sync"]
    # - excludedNamespaces: ["mutation-excluded-ns"]
    #   processes: ["mutation-webhook"]
    # oc apply -f should trigger this log in audit: {"level":"info","ts":1638158641.4822502,"logger":"controller","msg":"disabling readiness stats","kind":"Config"}
